---
import BookList from "@/components/bookshelf/BookList.astro"
import BookshelfStats from "@/components/bookshelf/BookshelfStats.astro"
import BookshelfTabs from "@/components/bookshelf/BookshelfTabs.astro"
import BookshelfTagFilter from "@/components/bookshelf/BookshelfTagFilter.astro"
import type { BookshelfBooks } from "@/lib/content"

type Props = {
  bookshelf: BookshelfBooks
}

const { bookshelf } = Astro.props

const tabs = [
  { id: "favorites", label: "Favorites" },
  { id: "reading", label: "Currently Reading" },
  { id: "finished", label: "Finished" },
  { id: "bucketlist", label: "Bucket List" },
  { id: "dnf", label: "DNF" },
]

const yearTabs = bookshelf.years.map(([year, books]) => ({
  id: `year-${year}`,
  label: `${year} (${books.length})`,
}))
---

<section aria-label="Bookshelf catalog">
  <BookshelfTabs tabs={tabs}>
    <div role="tabpanel" id="panel-favorites" aria-labelledby="tab-favorites">
      <BookList
        books={bookshelf.favorites}
        showDescription
        firstImageLoading="eager"
      />
    </div>
    <div
      role="tabpanel"
      id="panel-reading"
      aria-labelledby="tab-reading"
      hidden
    >
      <BookList books={bookshelf.reading} showTags />
    </div>
    <div
      role="tabpanel"
      id="panel-finished"
      aria-labelledby="tab-finished"
      hidden
    >
      <BookshelfTabs tabs={yearTabs} variant="pill">
        {bookshelf.years.map(([year, books], i) => (
          <div
            role="tabpanel"
            id={`panel-year-${year}`}
            aria-labelledby={`tab-year-${year}`}
            hidden={i > 0}
          >
            <BookshelfStats books={books} />
            <BookshelfTagFilter books={books}>
              <BookList books={books} showRating filterable />
            </BookshelfTagFilter>
          </div>
        ))}
      </BookshelfTabs>
    </div>
    <div
      role="tabpanel"
      id="panel-bucketlist"
      aria-labelledby="tab-bucketlist"
      hidden
    >
      <BookList books={bookshelf.bucketlist} showTags />
    </div>
    <div role="tabpanel" id="panel-dnf" aria-labelledby="tab-dnf" hidden>
      <BookList books={bookshelf.dnf} showTags />
    </div>
  </BookshelfTabs>
</section>
