---
import BookList from "@/components/library/BookList.astro"
import LibraryStats from "@/components/library/LibraryStats.astro"
import LibraryTabs from "@/components/library/LibraryTabs.astro"
import LibraryTagFilter from "@/components/library/LibraryTagFilter.astro"
import type { LibraryBooks } from "@/lib/content"

type Props = {
  library: LibraryBooks
}

const { library } = Astro.props

const tabs = [
  { id: "favorites", label: "Favorites" },
  { id: "reading", label: "Currently Reading" },
  { id: "finished", label: "Finished" },
  { id: "bucketlist", label: "Bucket List" },
  { id: "dnf", label: "DNF" },
]

const yearTabs = library.years.map(([year, books]) => ({
  id: `year-${year}`,
  label: `${year} (${books.length})`,
}))
---

<section aria-label="Library catalog">
  <LibraryTabs tabs={tabs}>
    <div role="tabpanel" id="panel-favorites" aria-labelledby="tab-favorites">
      <BookList
        books={library.favorites}
        showDescription
        firstImageLoading="eager"
      />
    </div>
    <div
      role="tabpanel"
      id="panel-reading"
      aria-labelledby="tab-reading"
      hidden
    >
      <BookList books={library.reading} showTags />
    </div>
    <div
      role="tabpanel"
      id="panel-finished"
      aria-labelledby="tab-finished"
      hidden
    >
      <LibraryTabs tabs={yearTabs} variant="pill">
        {library.years.map(([year, books], i) => (
          <div
            role="tabpanel"
            id={`panel-year-${year}`}
            aria-labelledby={`tab-year-${year}`}
            hidden={i > 0}
          >
            <LibraryStats books={books} />
            <LibraryTagFilter books={books}>
              <BookList books={books} showRating filterable />
            </LibraryTagFilter>
          </div>
        ))}
      </LibraryTabs>
    </div>
    <div
      role="tabpanel"
      id="panel-bucketlist"
      aria-labelledby="tab-bucketlist"
      hidden
    >
      <BookList books={library.bucketlist} showTags />
    </div>
    <div role="tabpanel" id="panel-dnf" aria-labelledby="tab-dnf" hidden>
      <BookList books={library.dnf} showTags />
    </div>
  </LibraryTabs>
</section>
